<section>
     {{#each result}}
       <div>
         <img src="{{image_url}}" alt="Halls">
       </div>

       <p>{{service_detail.name}}</p>
       <p>{{service_detail.location}}</p>
       <p>{{service_detail.price}}</p>
       <p>{{service_detail.description}}</p>
       <p>{{service_detail.map_loc}}</p>
       <p>{{service_detail.userId}}</p>
       
       {{/each}}

 </section>
