{{>header}}
<section>
     {{#each filteredResult}}
     <h2 class="black center tc mt0 f1 w-100 "style="background-color:#A29060" >{{details.name}}</h2>
       <div>
         <button type="button" name="button" id="btnmain" style="background-color:rgba(0,0,0,0); border: none;"><img class="f6 link dim br1 ba ph3 pv2 mb2 dib black w10 h5" src="{{images.[0]}}" alt="Halls" id="mainimg"></button>
         <br>
         <div class="mh3">
         <div class="ma0">
           <button type="button" name="button" style="background-color:rgba(0,0,0,0); border: none;" id="btn1"><img class="f6 link dim br1 ba pv2 mb2 dib black w3 h3" src="{{images.[1]}}" alt="Halls" id="image1"></button>
           <button type="button" name="button" style="background-color:rgba(0,0,0,0); border: none;" id="btn2"><img class="f6 link dim br1 ba pv2 mb2 dib black w3 h3" src="{{images.[2]}}" alt="Halls" id="image2"></button>
           <button type="button" name="button" style="background-color:rgba(0,0,0,0); border: none;" id="btn3"><img class="f6 link dim br1 ba pv2 mb2 dib black w3 h3" src="{{images.[1]}}" alt="Halls" id="image3"></button>
           <button type="button" name="button" style="background-color:rgba(0,0,0,0); border: none;" id="btn4"><img class="f6 link dim br1 ba pv2 mb2 dib black w3 h3" src="{{images.[2]}}" alt="Halls" id="image4"></button>
         </div>
       </div>
<div class="mh3">
  <article class="cf">
  <div class="fl f6 w-40 w-30-ns br1 ba ph1 bg-light-gray bg-near-white tc ma2">
    <h2>Owner Name</h2>
  </div>
  <div class="fl f6 w-40 w-30-ns br1 ba ph1 bg-light-yellow ph3 ma2 tc">
    <h2>{{details.user.name}}</h2>
  </div>
  <div class="fl f6 w-40 w-30-ns br1 ba ph1 bg-light-gray bg-near-white tc ma2">
    <h2>Price</h2>
  </div>
  <div class="fl f6 w-40 w-30-ns br1 ba ph1 bg-light-yellow ph3 ma2 tc">
    <h2>{{details.price}}</h2>
  </div>
  <div class="fl f6 w-40 w-30-ns br1 ba ph1 bg-light-gray bg-near-white tc ma2">
    <h2>Size</h2>
  </div>
  <div class="fl f6 w-40 w-30-ns br1 ba ph1 bg-light-yellow ph3 ma2 tc">
    <h2>{{details.description}}</h2>
  </div>
  <div class="fl f6 w-40 w-30-ns br1 ba ph1 bg-light-gray bg-near-white tc ma2">
    <h2>Location</h2>
  </div>
  <div class="fl f6 w-40 w-30-ns br1 ba ph1 bg-light-yellow ph3 ma2 tc">
    <h2>{{details.location}} </h2>
  </div>
</article>
<div id="mapid" style="height:180px;"></div>
<p class="dn" id="att">{{details.map_loc}} </p>
<h1 class="tl">Contact to Owner</h1>

<div class="ml5">
  <div class="f6 link dim br1 ph1 pv2 mb2 dib white bg-black w-25 h3 mt2 tc">
    <img src="../../assets/email.png" alt="email" class="w1 h1 mb2">
    {{details.user.email}}
  </div>
  <div class="f6 link dim br1 ph1 pv2 mb2 dib white bg-black w-25 h3 mt2 tc">
    <img src="../../assets/phone.png" alt="phone" class="w1 h1 mb2 ml2">
    <br>
    {{details.user.phone_number}}
  </div>
  <div class="f6 link dim br1 ph1 pv2 mb2 dib white bg-black w-25 h3 tc">
    <img src="../../assets/facebook.png" alt="facebook" class="w1 h1 mb2">
    <br>
    {{details.user.facebook}}
  </div>
</div>
      {{/each}}
</div>
 </section>
 {{>footer}}
